h2{
    color:rgb(147, 255, 232)
}
 
/*h4{
    colour:rgb(173, 86, 15)
}*/
.header{
    background-color: rgb(145, 141, 141);
    color:rgb(255, 128, 213)
}

.bodier{
    color:rgb(182, 80, 12)
}

.grid{
    display: flex;
}
